.paginatorWrapper {
    display: flex;
    justify-content: center;
}

.paginator {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.button {
    background: none;
    border: none;
    height: 40px;
    cursor: pointer;
}

.button img {
    height: 100%;
}

.pageNumber {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border: 1px solid #27aae1;
    border-radius: 50%;
    background-color: #27aae1;
    color: #ffffff;
}

@media screen and (max-width: 980px) {
    .paginator {
        justify-content: flex-start;
    }
}