.postsBlock {
    padding: 10px;
}

.postsBlock h3 {
    font-weight: 700;
    display: block;
    margin-bottom: 15px;
}

.textareaWrapper {
    margin-bottom: 7px;
}

.button {
    margin-bottom: 20px;
}

.posts {
    margin-top: 10px;
}

@media screen and (max-width: 600px) {
    .postsBlock {
        margin: 0 auto;
        max-width: 300px;
    }

}


