.header {
    grid-area: h;
    background-color: #231F20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

}

.logo {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 25px;
}

.header img {
    height: 40px;
}

.loginBlock {
    display: flex;
    align-items: center;
    color: #ffffff;
}
.loginBlock a {
    color: white;
    font-weight: 700;
    text-decoration: none;
}
.loginBlock a:hover {
    text-decoration: underline;
}
.loginBlock span,
.loginBlock button {
   margin-right: 10px;
}

