.headerWrapper {
    grid-area: h;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;

}

.header {
    max-width: 1050px;
    margin: 0 auto;
    background-color: #231F20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
}

.logo {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 25px;
}

.header img {
    height: 40px;
}

.loginBlock {
    display: flex;
    align-items: center;
    color: #ffffff;

}

.loginBlock a {
    color: white;
    font-weight: 700;
    text-decoration: none;
}

.loginBlock a:hover {
    text-decoration: underline;
}

.loginBlock span,
.loginBlock button {
    margin-right: 10px;
}

@media screen and (max-width: 600px) {
    .logo {
        font-size: 17px;
    }

    .loginBlock {
        flex-direction: column;

    }

    .loginBlock button {
        padding: 1px 15px;
    }

    .loginBlock span {
       margin-bottom: 5px;
    }
}