.profile {
    padding: 20px;
    display: flex;
}

.descriptionBlock {

}

.mainPhoto {
    width: 250px;
    margin-bottom: 20px;
    margin-right: 30px;
}

.mainPhoto img {
    width: 100%;
}


.userData {
}

.userDataRow {
    padding-bottom: 6px;
}

.contact {
    padding: 3px 0 3px 30px;
}

.buttonWrapper{
    margin-top: 7px;
}
