.button {
    background: #27aae1;
    padding: 5px 23px;
    font-size: 14px;
    color: #fff;
    position: relative;
    font-weight: 600;
    outline: none;
    border-radius: 30px;
    border: 2px solid #27aae1;
    transition: all 0.2s ease;
}

.button:hover {
    background: #ffffff;
    color: #27aae1;
}

.textarea {
    width: 350px;
    height: 100px;
    padding: 5px 10px;
}

.notFoundPage {
    margin: 20px;
    font-size: 20px;
    color: red;
}

@media screen and (max-width: 600px) {
    .textarea {
        width: 200px;
    }

}