.dialogsPage {
    padding: 0px 65px;
}

.dialogs {
    display: flex;
    padding: 25px 0;
}

.dialogsItems {
    width: 200px;
    border-right: 1px solid #f1f2f2;
}

.dialogItem {

}

.dialogItem a {
    text-decoration: none;
    color: #6d6e71;
    padding: 10px;
    display: block;
}

.dialogsItems .active {
    display: block;
    color: #27aae1;
    background-color: #f1f2f2;
    width: 100%;
    height: 100%;
}

.dialog {

}

.messages {
    padding: 10px 30px;
    width: 100%;
}

.messages .message {
    padding: 5px 0;
}

.messageForm {
    margin-top: 20px;
}

.messageFormButton {
    margin-top: 15px;
}

@media screen and (max-width: 980px) {
    .dialogsPage {
        padding: 0;
    }

    .dialogsItems {
        width: auto;
    }

    .messageForm textarea {
        width: 150px;
    }
}